$main-font: 'OpenSans';
$main-font-bold: 'OpenSans-Bold';

$logo-font: 'OpenSans';
$logo-font-bold: 'OpenSans-Bold';

$text-color: #747978;
$text-color-darker: #3E4543;
$text-color-lighter: #9B9B9B;

$border-color: #CFCFCF;

$hover-color: #67C8C7;
$disabled-color: #CFCFCF;
